.message {
    display: inline-flex;
    border: 1px solid gray;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 10px;
}

.reply-button {
    float: right;
}

.dislikes,
.likes {
    margin: 0;
    padding: 0;
    font-size: 10px;
    float: left;
    margin-right: 5px;
}